---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <!-- <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div> -->
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Ashoka's Kittens{% endif %}</h2>
          <!-- <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}La croix godard blue bottle, vape iceland fingerstache cronut single-origin coffee lyft snackwave normcore small batch.{% endif %}</p> -->
          <p class="author_subtitle">These kittens are fostered through the <a href="https://richmondspca.org/how-you-can-help/adopt/">Richmond SPCA</a>. Their adoption fee is $150, but we (the fosters) will pay the adoption fee for the <b>second</b> kitten if you get two. </p>
          <p class="author_subtitle">
            Read <a href="https://www.kittenlady.org/twokittens">here</a> for more info on the benefits of adopting two kittens instead of one!
          </p>
          <p class="author_subtitle">
            Not ready for the commitment of adopting? Try  <a href="https://richmondspca.org/how-you-can-help/volunteer/foster-care/s">fostering</a> yourself! It can be challenging, but is ultimately very rewarding and fills our lives with lots of love. :)
          </p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>